django==4.1.7
djangorestframework==3.14.0
markdown==3.4.1
django-filter==22.1
celery==5.2.7
django-celery-results==2.4.0
django-celery-beat==2.4.0
gevent==22.10.2
redis[hiredis]==4.5.1
redis-om==0.1.2